
/* Global Styles */

html, body {
    font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    background: radial-gradient(rgb(0, 122, 204), rgb(0, 82, 204)) no-repeat fixed;
    background-size: contain;
    overscroll-behavior-y: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Keyframes */
@keyframes pan {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

/* App Container */
#app {
    height: 100vh;
    position: relative;
}

/* Star Container */
#star-container {
    background: radial-gradient(rgb(0, 122, 204), rgb(0, 82, 204));
    min-height: 100%;
    height: max-content;
    position: relative;
}

/* Star Pattern */
#star-pattern {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Kubernetes_logo_without_workmark.svg/2109px-Kubernetes_logo_without_workmark.svg.png");
    background-size: 10%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    opacity: 0.10;
    animation: pan 180s linear infinite;
    will-change: background-position;
}

/* Star Gradient Overlay */
#star-gradient-overlay {
    background: radial-gradient(circle, transparent 75%, rgb(var(--dark-gold-rgb)));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 2;
}

/* Stripe Container */
#stripe-container {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 28vh;
    min-height: 240px;
    width: 100%;
    min-width: 2000px;
    background-color: rgb(var(--stripe-primary-rgb));
}

/* Element Styles */
header, main, footer, section, nav, article {
    position: relative;
    z-index: 10;
}

header {
    color: white;
    /*background: rgba(0, 0, 0, 0.7);*/
    padding: 1rem;
}

nav {
    background: #F0F0F0;
    height: 45px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white 1px solid;
    box-shadow: 0 0 100px 1px #fff;
}

.article-content ul {
    margin-left: 35px;
    margin-top: -45px;
}

.codehilite {
    font-size: 15px;
}

nav ul {
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #414a4c;
    text-decoration: none;
    font-size: 1.0rem;
}

main {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
}

article {
    margin-bottom: 20px;
}

article p {
    font-size: 1rem;
    color: #333;
}

article li {
    margin-left: 20px;
}

/* Button Styles */
button {
    background-color: #0044cc;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

.copy-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.home-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

@media(max-width: 1294px) {
    .home-container {
        flex-direction: column;
        align-items: center;
    }

    .recent-articles {
        margin-top: 20px;
        margin-left: 0;
    }

}


/* Responsive Styles */
@media (max-width: 768px) {
    

    
    html, body {
        background-size: cover;
    }

    #star-pattern {
        background-size: 20%;
        min-width: 100%;
    }

    #stripe-container {
        min-width: 100%;
        height: 40vh;
    }

    header {
        padding: 0.8rem;
    }


    nav {
        height: auto;
        border-radius: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: column;    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 1.5rem;
    }

    main {
        width: 95%;
        margin: 10px auto;
        padding: 15px;
    }

    article {
        margin-bottom: 15px;
    }

    form {
        padding: 15px;
    }

    input[type="text"], input[type="email"], textarea {
        padding: 10px;
    }

    button {
        padding: 12px 24px;
    }

    .copy-btn {
        right: 10px;
        top: 10px;
        padding: 5px 10px;
    }
}

.welcome-text {
    margin-top: 25px;
    border-radius: 30px;
    padding: 10px;
    font-size: 15px;
    width: 100%;

}



.welcome-section {
    padding: 20px;
    border-radius: 50px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.welcome-header {
    color: #336699;

    font-size: 20px;
    padding: 10px;
}


