{% extends 'base.html' %}

{% block page_title %}Contact{% endblock %}
{% block header_title %}Welcome to My Kubernetes Blog{% endblock %}

{% block extra_css %}
<style>
    .team {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        background-color: #F0F0F0;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        max-width: 800px;
        margin: 0 auto;
    }
    .team-member {
        background-color: #ffffff;
        padding: 20px;
        margin: 20px 0;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 100%;
    }
    .team-member h3 a {
        color: #336699;
        text-decoration: none;
        transition: color 0.3s;
        font-size: 20px;
    }
    .team-member h3 a:hover {
        color: #002ab3;
    }
    .team-member p {
        color: #333;
        font-size: 15px;
    }
    section {
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        max-width: 800px;
        margin: 40px auto;
        text-align: center;
    }
    section h3 {
        color: #336699;
    }
    section a {
        color: #336699;
        text-decoration: none;
        transition: color 0.3s;
    }
    section a:hover {
        color: #002ab3;
    }
</style>
{% endblock %}

{% block content %}
<section class="team">
    <div class="team-member">
        <h3><a href="https://www.linkedin.com/in/jose-angel-morena-simon/" target="_blank">Jose Angel Morena</a></h3>
        <p>Jose Angel Morena, a Site Reliability Engineer with a focus on containers, automation, and open-source tech. I believe in keeping things simple yet effective, aiming for solutions that are easy to use and manage, efficient, and scalable.</p>
    </div>
    <div class="team-member">
        <h3><a href="https://www.linkedin.com/in/alex-carnesecchi-miravitllas/" target="_blank">Alex Carnesecchi</a></h3>
        <p>Alex Carnesecchi, currently working as a DevOps engineer. As a DevOps Engineer, he specializes in containerization and automation technologies, demonstrating a robust commitment to continuous learning and professional development in the dynamic IT industry.</p>
    </div>
    <div class="team-member">
        <h3><a href="https://gitlab.com/terryjr/" target="_blank">Terry</a></h3>
        <p>Terry, who goes by Beedle in some circles, isn't just a merchant peddling wares in Hyrule; he's also a major Kubernetes enthusiast and a FOSS fanatic! When he's not stocking up on arrows or coaxing rupees out of adventurers, you'll find him helping us preview the changes to the blog and commenting on merge requests.</p>
    </div>
</section>
{% endblock %}
