{% extends 'base.html' %}

{% block page_title %}{{ title }}{% endblock %}
{% block header_title %}{{ title }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="css/pygments.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/monokai-sublime.min.css">
<style>
    .article-container {
        display: flex;
        justify-content: center;
        align-items: center;
        /*padding: 40px;*/
    }
    .article-content {
        font-size: 15px;
        display: inline-block;
        padding: 40px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        max-width: 800px;
        width: 100%;
        line-height: 1.6;
    }
    .article-content h2 {
        color: #336699;
    }
    .article-content p {
        color: #333;
    }
    .article-content p i {
        color: #555;
        font-style: italic;
    }
    .highlight pre {
        position: relative;
    }
    .copy-button {
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: #336699;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .copy-button:hover {
        background-color: #002ab3;
    }
</style>
{% endblock %}

{% block content %}
<section class="article-container">
    <div class="article-content">
        <h2>{{ title }}</h2>
        <p><i>Published on: {{ date }} by {{ author }}</i></p>
        <br>
        {{ content | safe }}
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script>
    function copyToClipboard(button) {
        const pre = button.nextSibling;
        const code = pre.innerText || pre.textContent;
        const textarea = document.createElement('textarea');
        textarea.value = code;
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand('copy');
        textarea.remove();
        // Change button text to "Copied!" and then revert after 2 seconds
        button.textContent = 'Copied!';
        setTimeout(() => {
            button.textContent = 'Copy';
        }, 2000);
    }
</script>
{% endblock %}
