{% extends 'base.html' %}

{% block page_title %}{{ category }}{% endblock %}
{% block header_title %}Articles in "{{ category }}" Category{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="css/pygments.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/monokai-sublime.min.css">
<style>
    .article-section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }
    .article-list-container {
        font-size: 15px;
        display: inline-block;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        max-width: 800px;
        width: 100%;
    }
    ul.article-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    ul.article-list li {
        padding: 15px 10px;
        /*margin: 10px 0;*/
        border-bottom: 1px solid #ccc;
        transition: background-color 0.3s;
    }

    ul.article-list li:hover {
        background-color: #e0dede;
    }

    ul.article-list li:last-child {
        border-bottom: none;
    }


    ul.article-list li a {
        text-decoration: none;
        color: #336699;
        font-weight: bold;
        transition: color 0.3s;
    }

    ul.article-list li:hover a {
        color: #002ab3;
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .meta {
        display: flex;
        align-items: center;
    }
    .author {
        font-style: italic;
        color: #555;
        margin-left: 10px;
    }
</style>
{% endblock %}

{% block content %}
<section class="article-section">
    <div class="article-list-container">
        <h2>{{ tag }}</h2>
        {% if articles %}
        <ul class="article-list">
            {% for article in articles %}
            <li>
                <div class="content">
                    <a href="{{ article['filename'].replace('.md', '.html') }}">{{ article['title'] }}</a>
                    <div class="meta">
                        <span class="author">by {{ article['author'] }} on {{ article['date'] }}</span>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="no-articles">No articles found in this category.</p>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}
