{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="css/pygments.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/monokai-sublime.min.css">
<style>
    .tag-section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }
    .tag-cloud {
        display: inline-block;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .tag-cloud a {
        display: inline-block;
        margin: 5px 10px;
        text-decoration: none;
        color: #336699;
        font-weight: bold;
        transition: color 0.3s, transform 0.3s;
    }
    .tag-cloud a:hover {
        color: #002ab3;
        transform: scale(1.1);
    }
    .no-articles {
        color: #999;
        font-style: italic;
        text-align: center;
        margin-top: 20px;
    }
</style>
{% endblock %}

{% block content %}
<section class="tag-section">
    <div class="tag-cloud">
        {% if tags_and_sizes %}
        {% for tag, size in tags_and_sizes.items() %}
        <a href="{{ tag | replace(' ', '-') | lower }}.html" style="font-size: {{ size }}px;">{{ tag }}</a>
        {% endfor %}
        {% else %}
        <p class="no-articles">No tags available.</p>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}
